.character {
    text-align: center;
}

.name {
  color: white;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  color: gold;
  font-family: "warcraft";
  padding-top: 2rem;
}

.race {
  color: white;
  font-size: 2rem;
  color: gold;
  font-family: "warcraft";
  text-align: center;
}

.class {
  color: white;
  font-size: 2rem;
  color: gold;
  font-family: "warcraft";
  text-align: center;
}