@use 'reset';
@use 'ProfilePicture';
@use 'Character';
@use 'Header';

@font-face {
  font-family: 'warcraft1';
  src: local('warcraft1'), url(../fonts/LifeCraft_Font.ttf) format('truetype');
}

@font-face {
  font-family: 'warcraft2';
  src: local('warcraft2'), url(../fonts/Warcraft.ttf) format('truetype');
}

#root {
  display: flex;
  background-image: url(../images/TavernBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
