@use 'reset';
@use 'ProfilePicture';
@use 'Character';

@font-face {
  font-family: 'warcraft';
  src: local('warcraft'), url(../fonts/LifeCraft_Font.ttf) format('truetype');
}

#root {
  display: flex;
  background-image: url(../images/TavernBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
